{% extends "layout.html" %}

{% block content %}

{% load static %}

<h1>RECEPTUROWNIK</h1>
<h3>Przykładowe przepisy:</h3>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="{% static 'img/AnnaStarmach.jpg' %}" class="card-img-top" alt="Przepisy Anny Starmach" width="300" height="280">
              <div class="card-body">
                <h5 class="card-title">Przepisy Anny Starmach</h5>
                <p class="card-text">Zobacz najlepsze przepisy Anny Starmach</p>
                <a href="https://aniastarmach.pl/przepisy/" class="btn btn-primary">Zobacz</a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="{% static 'img/michelemoran.jpg' %}" class="card-img-top" alt="Przepisy Michela Moran" width="300" height="280">
              <div class="card-body">
                <h5 class="card-title">Przepisy Michela Moran</h5>
                <p class="card-text">Zobacz przepisy Szefa Kuchni Michela Moran, jurora Masterchef</p>
                <a href="https://www.doradcasmaku.pl/przepisy-michel-moran-przepisy-z-programu-doradca-smaku-okazja" class="btn btn-primary">Zobacz</a>
              </div>
            </div>
        </div>
        <div class="col">
             <div class="card" style="width: 18rem;">
              <img src="{% static 'img/mateuszgessler.jpg' %}" class="card-img-top" alt="Przepisy Mateusza Gessler" width="300" height="280">
              <div class="card-body">
                <h5 class="card-title">Przepisy Mateusza Gessler</h5>
                <p class="card-text">Zobacz przepisy Mateusza Gesslera, jurora Mastechef Junior</p>
                <a href="https://akademiasmaku.pl/redakcja/mateusz-gessler,4/przepisy" class="btn btn-primary">Zobacz</a>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}